<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rec</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_scripts</string>
			<key>CFBundleTypeName</key>
			<string>magnetiX game script</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Xrec</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mX9</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_cfish</string>
			<key>CFBundleTypeName</key>
			<string>Fish! (MW) saved game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XmX9</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mX8</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_ccorrupt</string>
			<key>CFBundleTypeName</key>
			<string>Corruption (MW) saved game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XmX8</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mX7</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_cguild</string>
			<key>CFBundleTypeName</key>
			<string>Guild of Thieves (MW) saved game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XmX7</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mX6</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_wonder</string>
			<key>CFBundleTypeName</key>
			<string>Wonderland saved game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XmX6</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mX5</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_myth</string>
			<key>CFBundleTypeName</key>
			<string>Myth saved game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XmX5</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mX4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_fish</string>
			<key>CFBundleTypeName</key>
			<string>Fish! saved game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XmX4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mX3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_corrupt</string>
			<key>CFBundleTypeName</key>
			<string>Corruption saved game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XmX3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mX2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_jinxter</string>
			<key>CFBundleTypeName</key>
			<string>Jinxter saved game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XmX2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mX1</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_guild</string>
			<key>CFBundleTypeName</key>
			<string>Guild of Thieves saved game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XmX1</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mX0</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_pawn</string>
			<key>CFBundleTypeName</key>
			<string>The Pawn saved game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XmX0</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>magnetiX</string>
	<key>CFBundleIconFile</key>
	<string>icon_magnetiX.icns</string>
	<key>CFBundleIdentifier</key>
	<string>de.maczentrisch.magnetiX</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>magnetiX</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleSignature</key>
	<string>magX</string>
	<key>CFBundleVersion</key>
	<string>150626</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Jan-Sebastian Schliemann, 2004-2015</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
